


body{background-image:url(https://th.bing.com/th/id/OIP.lbsmqMkp03Ly_3_EGbvPmQHaEJ?pid=ImgDet&rs=1) ;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: scroll;

}

h1{
    color: aqua;

}

h3,h4{
    color: goldenrod;
}

img{
    float: right;
    max-width: 300px;
    border: gray 10px solid;
    margin: 0 0 1em 1em;

}



#thirdDiv{
    justify-content: center;
    height: 600px;
    max-width: 500px;
    background-color: rgb(19, 238, 30);
    padding: 50px;
    border: 5px red dashed;
   



}
#thirdDiv ul li {
float: left;

}


#thirdDiv ul li img{float: right;
    width: 500px;
    height: 200px;
    margin: 1em;}


#spanId{
font-size: 18px;
margin: 50px;


}